html, body {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

#titanic {
  margin: 1.5rem auto;
}

ul {
  margin: 1.5rem auto;
  max-width: 600px;
}